
h1 { margin: 30px; font-size: 50pt; float: left;  }
body { background: blue; color: red;}
table { color: blue; background-color: red; clear: left; margin: auto; }
td,th {padding: 5px; }
.picturelogo { width: 75px;hight: 50px; margin: 5px; float: left;  }
div1,div2,div3 { color: black; font-size: 15pt; Clear: left;    }
.hours { margin: 50px; clear: left  }
.call { color: red; font-size: 15pt; float: left;  }
.bottom { width: 1150px;margin: auto; background-color: white; color: black;  }

 




