body { background: blue; color: red; }
h1 {color: red; font-size: 30pt; text-align: center; }
table { color: blue; background-color: red; margin: auto; }
th,td { padding: 5px; }
.poulingrain { float: left; }
.blackgold { float: right; }
.feedsandgraintext { text-align: center; color: black; font-size: 15pt; }
.bottom { width: 1150px;margin: auto; background-color: white; color: black;  }
